html {
  background-color: #c9b5ab;
  line-height: 1.5;
}

body {
  font-family: "PT Serif", serif;
  color: #222;
  font-size: 1rem;
}

h1, h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

a,
a:link {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

nav ol {
  list-style-type: none;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
}

figcaption {
  font-style: italic;
}

dt {
  font-weight: bold;
}

h2 + ol li {
  list-style-type: lower-greek;
}

h2 + p {
  font-style: italic;
}

aside ul {
  list-style-type: circle;
  font-size: 0.8rem;
}

blockquote p {
  font-style: italic;
  font-size: 1.5rem;
}

cite {
  font-size: 0.8rem;
}

figure + p {
  font-weight: bold;
}

img {
  width: 100%;
}

.love {
  font-weight: normal;
}
