html {
  background-color: #c9b5ab;
  line-height: 1.5
}

h1, h2 {
  color: #3f1622;
}

a,
a:link {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

nav ol {
  list-style-type: none;
  font-weight: bold;
}

figcaption {
  font-style: italic;
}

dt {
  font-weight: bold;
}

h2 + ol li {
  list-style-type: lower-greek;
}

h2 + p {
  font-style: italic;
}

aside ul {
  list-style-type: circle;
}

blockquote p {
  font-style: italic;
  font-weight: bold;
}

figure + p {
  font-weight: bold;
}
